.home-slider {
    height: 550px;
    border-radius: 10px;
    background: #F5F6F8;
    position: relative;
}

.home-slider-circle {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 9;
}

.home-slider-both {
    position: absolute;
    width: 100%;
    bottom: 7%;
    left: 0;
}

.home-slider-both .carousel-controls {
    display: flex;
}

.home-slider-both .carousel-controls button {
    margin-right: 25px;
}

.home-slider-both .carousel-control-next,
.carousel-control-prev {
    width: 60px;
    height: 60px;
    background-color: var(--white-color);
    fill: #FFF;
    backdrop-filter: blur(5px);
    opacity: 1;
    border-radius: 50%;
    position: inherit;
}

.home-slider-both .carousel-indicators {
    margin: 0;
    right: auto;
    left: 15%;
    bottom: 25%;
}

.home-slider-both .carousel-indicators [data-bs-target] {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #e3e4e6;
    margin-right: 20px;
}

.home-slider-both .carousel-indicators .active {
    background-color: var(--main-color-2);
}

.home-slider .carousel-inner {
    height: 550px;
    border-radius: 10px;
    background: #F5F6F8;
}

.home-slider .carousel-inner .carousel-item {
    height: 550px;
    border-radius: 10px;
    background: #F5F6F8;
}


.home-slider-container {
    height: 550px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-slider-container-text {
    width: 534px;
}

.home-slider-container-text-title {
    color: var(--main-color);
    font-size: 45px;
    font-weight: 600;
    line-height: 110%;
    margin-bottom: 23px;
}

.home-slider-container-text-content {
    color: var(--main-color);
    font-size: 18px;
    font-weight: 500;
    line-height: 110%;
    margin-bottom: 60px;
}

.home-slider-container-text .read-more {
    width: 170px;
    height: 55px;
    background: linear-gradient(to right, #fff 50%, var(--main-color-2) 50%);
    background-size: 200% 100%;
    background-position: bottom right;
}

.home-slider-container-text .read-more:hover {
    background-position: bottom left;
}

.home-slider-container-text .read-more span {
    color: var(--white-color);
    font-size: 18px;
}

.home-slider-container-text .read-more:hover.read-more span {
    color: var(--main-color-2);
}

.home-slider-container-img {
    padding: 20px;
    border-radius: 10px;
    background: var(--white-color);
    box-shadow: 0px 8px 60px 0px rgba(107, 114, 128, 0.25);
    z-index: 99;
}

.home-slider-container-img img {
    width: 460px;
    height: 460px;
    object-fit: cover;
}


/* About us */
#home-about-us {
    margin: 80px 0;
}

.home-about-us-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon1,
.icon2 {
    width: 46px;
    height: 46px;
    object-fit: cover;
}

.home-about-us-right-img1 {
    width: 310px;
    height: 400px;
    object-fit: cover;
}

.home-about-us-right-img2 {
    width: 200px;
    height: 260px;
    object-fit: cover;
    margin-bottom: 20px;
}

.home-about-us-right-img3 {
    width: 260px;
    height: 200px;
    object-fit: cover;
}

.home-section-container-left .read-more {
    width: 207px;
    height: 55px;
    background: linear-gradient(to right, #fff 50%, rgba(65, 65, 65, 0.10) 50%);
    background-size: 200% 100%;
    background-position: bottom right;
}

.home-section-container-left .read-more:hover.read-more span {
    color: var(--main-color-2);
}


/* Activities */
#home-activities {
    background-color: #f8f8f8;
    height: 550px;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#home-activities .home-section-container-title {
    text-align: center;
    padding: 55px 0;
}

.activities-container {
    justify-content: center;
    align-items: center;
}

.activities-container .activities-container-col {
    width: 410px;
    height: 320px;
}

.activites-item {
    width: 100;
    height: 100%;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 2px 50px 0px rgba(107, 114, 128, 0.05);
    padding: 25px 35px;
}

.activities-item-img {
    width: 84px;
    height: 84px;
    border-radius: 50%;
    background-color: var(--main-color-2);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 23px;
}

.activities-item-img img {
    width: 42px;
    height: 42px;
    object-fit: cover;
}

.activites-item-title {
    margin-bottom: 15px;
    color: var(--main-color);
    font-size: 20px;
    font-weight: 500;
}

.activites-item-text {
    margin-bottom: 20px;
    color: #5A5B70;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
}

.activites-item .read-more {
    margin: 0 auto;
}


/* News */
#home-news {
    margin: 100px 0;
    height: 750px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

#home-news .home-news-last {
    width: 210px;
    height: 55px;
    background: linear-gradient(to right, #fff 50%, rgba(65, 65, 65, 0.10) 50%);
    background-size: 200% 100%;
    background-position: bottom right;
    margin: 0 auto;
    margin-top: 50px;
}

#home-news .home-news-last:hover {
    background-position: bottom left;
}

#home-news .home-news-last:hover.read-more span {
    color:var(--main-color-2);
}

.home-news-carousel-item {
    padding: 20px;
    width: 385px;
    height: 450px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 8px 30px 0px rgba(107, 114, 128, 0.20);
}

.home-news-carousel-item img {
    width: 345px;
    height: 250px;
    object-fit: cover;

}

.home-news-carousel-item .card-body {
    padding: 0;
}

.home-news-carousel-item .card-body .card-title {
    color: #252525;
    font-size: 18px;
    font-weight: 500;
    line-height: 140%;
    margin: 33px 0;
}

.home-news-carousel-item .card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    background-color: transparent;
    border: none;
}

/* Partners */

#home-partners{
    margin-bottom: 100px;
    height: 440px;
    background-color: #f8f8f8;
}

#home-partners .container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.home-section-container-right{
    width: 200px;
    height: 150px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 1px solid rgba(228, 232, 249, 0.10);
    background-color: #FFF;
    box-shadow: 0px 8px 24px 0px rgba(107, 114, 128, 0.10);
}

 .home-section-container-right img{
    width: 100px;
    height: 70px;
    object-fit: cover;
}

/* Home-Faq */
#home-faq{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 515px;
}

#home-faq .home-section-container-title{
    text-align: center;
}

#home-faq .accordion-item{
    width: 750px;
    border-radius: 10px;
background: #FFF;
box-shadow: 0px 1px 30px 0px rgba(0, 0, 0, 0.08);
margin: 25px auto;
}

#home-faq .accordion-item .accordion-button{
    padding: 20px;
}

.accordion-button:not(.collapsed){
    background-color: transparent;

}

.accordion-button:focus{
    border-color: var(--main-color-2) !important;
    box-shadow: none;
    color: var(--main-color);
}